@if(product.isLoading()) {
  <p>Cargando producto...</p>
}

@else if(product.error()) {
  <p>Hubo un error: {{ product.error()?.message }}</p>
}

@else if(product.value(); as product) {
  <h1>{{ product.title }}</h1>
  <div>
    <optimized-image [image]="{ url: product.image, alt: product.title, size: { width : '45vw', height: '30vw' } }" />
    <ul>
      <li class="price">{{ product.price }}$</li>
      <li>{{ product.description }}</li>
      <li class="rating">Calificacion: {{ product.rating.rate }}</li>
      <li class="product-category">{{ product.category }}</li>
    </ul>
  </div>
}
